@media screen and (max-width: 480px) {

    body {    	
        width: 100%;
        margin: auto;

    }
    
    #firstheadpic{
    	width:70%;
    	height:20vw;
    	padding:3vw;

    }
    #secondheadpic{
    	display: none;
    }

	header ul{
		display: flex;
		flex-direction: center;
		justify-content: space-between;
	}

    ul a{
	width: 12%;
	font-size: 3.5vw;		
	}
	.gray-part{
	height: 10vw;
	font-size: 5vw;
	}

	#header-date p{

	font-size: 4vw;
	}

	.container-3pics{		
		flex-wrap: wrap;
		width:94%;
	}

	.container-3pics img{
		width:100%;
		height:auto;
	}

	.container-3pics figure{	
		max-width: 45%;
	}

	.container-3pics figure{	
		font-size: 3vw;
	}

	.container-3pics figcaption{	
		font-size: 3.5vw;
		bottom:2vw;
		color: white;
		background-color: black;
		height:12vw;
	}

	.mobile-banner1 a{
		display:flex;
		width: 100%;
		height:41.2vw;
	}

	.mobile-banner1{
		display: block;
		display: flex;
		width:100%;		
		height:41.2vw;	
	}
	.mobile-banner2{
		display: block;
		display: flex;
		position: relative;
		left:2.8vw;
		width:100%;		
		height:37vw;	
	}

	.mobile-banner2 a{
		display: block;
		display: flex;
		left:2.8vw;
			
	}

	.long-side-banner{
		display: none;
	}

	.container-4pics{
		display: none;
	}
	
	.for-mobile{
		display:flex;
		display:block;
		top-padding: 1vw;		
	}

	.for-mobile img {
		width: 100%;
		height: 20vw;
		
		top-padding: 3vw;
		
	}
	.transparent-part {
		display:none;
	}

	#text-on-transparent{
		display:none;	
	}

	footer{
		height:100%;
	}

	footer ul{
		display: flex;
		flex-direction: center;
		justify-content: space-between;
	}

	footer img{
		left: 15%;
		height: 55%;
	}

}
